.ex-1-square:hover{
    background-color: red;
}

.ex-1-square{
    transition: background-color 3s;
}

.ex-2-square:active{
    width: 100%;
}

.ex-2-square{
    transition: width 10s;
}

.ex-3-square:hover{
    border-radius: 50%;
}

.ex-3-square{
    transition: border-radius 3s;
}

.ex-4-square:hover{
    opacity: 0;
}

.ex-4-square{
    transition: opacity 3s;
}

.ex-5-square:hover{
    transform: scale(2);
}

.ex-5-square:active{
    transform: scale(0.7);
}

.ex-5-square{
    transition: transform 3s;
}

.ex-6-img:hover{
    filter: grayscale(100%);
}

.ex-7-img:hover{
    filter: sepia(1);
}

.ex-7-img{
    transition: filter 3s;
}

.ex-8-img:hover{
    filter: saturate(4) grayscale(70%);
    border-radius: 20px;
}

.ex-8-img{
    transition: 3s;
}

.ex-9-img:hover{
    filter: sepia(4) grayscale(70%);
    border-radius: 20px;
    transform: scale(1.5);
}

.ex-9-img{
    transition: 3s;
}

.ex-10-icon{
    animation: rotate 2s infinite linear;
}

@keyframes rotate {
    0%   {transform: rotate(360deg);}
}

.ex-11-icon:hover{
    animation: rotatehalf 2s linear;
}

@keyframes rotatehalf {
    75% {transform: rotate(300deg);}
    100% {transform: rotate(0);}
}

.ex-12-button:hover > .ex-12-top-white{
    animation: btn12top 2s linear;
}
.ex-12-button:hover > .ex-12-bottom-white{
    animation: btn12bottom 2s linear;
}

@keyframes btn12top {
    80% {left: 60%;}
    100% {left: 10%;}
}

@keyframes btn12bottom {
    80% {right: 60%;}
    100% {right: 20%;}
}

.ex-13-button:hover > .ex-13-top-white{
    animation: btn13top 2s linear;
}
.ex-13-button:hover > .ex-13-bottom-white{
    animation: btn13bottom 2s linear;
}

@keyframes btn13top {
    
    0% {
        left: 10%;
        top: -10px;
    }
    30% {
        left: calc(100% - 30px);
        top: -10px;
    }
    45% {
        left: calc(100% - 30px);
        top: 100%;
    }
    75% {
        left: 0;
        top: 100%;
    }
    90% {
        left: -15px;
        top: -10px;
    }
    100% {
        left: 10%;
        top: -10px;
    }

}

@keyframes btn13bottom {
    0% {
        bottom: -10px;
        right: 20%;
    }
    30% {
        right: calc(100% - 30px);
        bottom: -10px;
    }
    45% {
        right: calc(100% - 30px);
        bottom: 100%;
    }
    75% {
        right: 0;
        bottom: 100%;
    }
    90% {
        right: -15px;
        bottom: -10px;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}